.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .card {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

 button.back-to-homepage {
    background-color: red;
    color: white; 
    padding: 10px 20px;
    border: none; 
    margin-top: 10px; 
    cursor: pointer; 
    margin: 5px;
   
  }
  
  button.back-to-homepage:hover {
    background-color:lightcoral; 
  }
  
  
  button.edit-button {
    background-color: green; 
    color: white;
    padding: 10px 20px; 
    border: none;
    margin-top: 10px;
    cursor: pointer;
    margin: 5px;
  }
  
  button.edit-button:hover {
    background-color: lightgreen; 
  }
  